@{
    Layout = null;
}

@*  save filter   *@

<div class="modal fade" id="modal-12">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Filtri saxla</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="filter_name_save" class="col-sm-3 control-label">Filtrin adı</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="filter_name_save" placeholder="Filtrin adını daxil edin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
                <button type="button" class="btn btn-info">Saxla</button>
            </div>
        </div>
    </div>
</div>