@{
    Layout = null;
}

<div class="modal fade modalAjax" id="modal-7">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ajax_modal_7">
                <span>Yüklənib: </span> <span class="modal_percent"></span> <br />
                <p>Zəhmət olmazsa, biraz gözləyin...</p>
            </div>
        </div>
    </div>
</div>