@{
    Layout = null;
}


<div class="modal fade others_modal" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Xarici iştirakçıların əlavə edilməsi</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_name" class="control-label">Ad</label>

                            <input type="text" class="form-control" id="other_name" placeholder="Ad" required>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_surname" class="control-label">Soyad</label>

                            <input type="text" class="form-control" id="other_surname" placeholder="Soyad" required>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_email" class="control-label">Email</label>

                            <input type="email" class="form-control" id="other_email" placeholder="Email">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_country" class="control-label">Ölkə</label>

                            <select name="other_country" id="other_country" class="js-example-basic-single select2c">
                            </select>
                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_position" class="control-label">Vəzifə</label>

                            <select name="other_position" id="other_position" class="js-example-basic-single select2c" required>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="other_company" class="control-label">Şirkət</label>

                            <input type="text" class="form-control" id="other_company" placeholder="Şirkət" required>
                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <a href="javascript:void(0)" class="btn btn-default" id="close_others" data-dismiss="modal">Bağla</a>
                <a href="javascript:void(0)" class="btn btn-info" id="save_others">Yadda saxla</a>
            </div>
        </div>
    </div>
</div>