@{
    Layout = null;
}

<div class="modal fade train_modal" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="~/Content/assets/images/image_processing20190909-9114-1sdyfkl.gif" />
        </div>
    </div>
</div>