@{
    Layout = null;
}

<div class="publish_meeting" data-id="0" hidden>
    <div class="row">
        <div class="col-md-3">
            <a href="javascript:void(0)" class="btn btn-green btn-sm">Yayınla</a>
        </div>
    </div>
</div>