@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using adyTask2.Models

@section Modal{
    @await Component.InvokeAsync("TrainLoadingModal")
}

<div class="meeting_list_page" data-type="@ViewBag.Type">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div id="meeting_all_lists">
        @{
            List<Meeting> _meeting = Model;

            @await Component.InvokeAsync("MeetingListTable", new { meetings = _meeting, page = ViewBag.PageNumber })

            if (ViewBag.MaxPage > 1)
            {
                <div class="meeting_pages">
                    @await Component.InvokeAsync("Pagination", new { maxPage = ViewBag.MaxPage, pageNumber = ViewBag.PageNumber, meetingLine = 0, notCompleted = false, myMeetingLines = false, department = 0, type = (byte)0 })
                </div>
            }
        }
    </div>
</div>


@section style{
    <link rel="stylesheet" href="/Content/assets/js/selectboxit/jquery.selectBoxIt.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2.css">
}

@section script{
    <script>
        $(document).ready(function (e) {
            $('.meeting_nav_list').click();
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script src="~/Content/assets/js/custom_switch.js"></script>
    <script src="~/Content/assets/js/meeting_list.js"></script>
}