@{
    Layout = null;
}

<div class="publish_meeting" data-id="0" hidden>
    <div class="row">
        <div class="col-md-3">
            <a href="javascript:void(0)" class="btn btn-red btn-sm close_operation">Bağla</a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" class="btn btn-green btn-sm submit_operation">Təsdiqlə</a>
        </div>
    </div>
</div>