
@{
    Layout = null;
}

    <div class="meeting_line_add_table">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" data-collapsed="0">

                    <div class="panel-heading">
                        <div class="panel-title">
                            İclas sətirləri
                        </div>
                        <div class="new_meeting_line_option panel-options">
                            <a href="javascript:void(0)">
                                <span>Yeni</span>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table table-bordered responsive">
                                    <thead>
                                        <tr>
                                            <th width="3%">
                                                <input tabindex="5" type="checkbox" class="icheck-11 first-check">
                                            </th>
                                            <th>Əməliyyatlar</th>
                                            <th>Qeyd növü</th>
                                            <th class="table_desc">Açıqlama</th>
                                            <th>Başlama tarixi</th>
                                            <th>Bitmə tarixi</th>
                                            <th class="tableUsers">Məsul şəxs</th>
                                            <th class="tableUsers">Təqib edən</th>
                                            <th class="tableUsers">Təsdiq edən</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>