
@{
    ViewData["Title"] = "Birbaşa tapşırığı yönləndirmə";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="direct_page" data-id="@ViewBag.Id">
    @await Component.InvokeAsync("MLTable", new { _meetingLine = Model, type = (byte)1, page = 1 })
    @{ await Html.RenderPartialAsync("MeetingDirectForm");}
</div>


@section style{
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/select2/select2.css">
}

@section script{
    mline_c<script src="~/Content/assets/js/select2_v401.js"></script>
    <script src="~/Content/assets/js/meetingDirect.js"></script>
}